@model IEnumerable<ToDoList.Models.ToDoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="CompletedItems">Show Completed</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Created)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.AppUser.Id)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row g-2">
    <div class="col-12 col-md-4 sideNav">
        <form asp-action="SearchContacts" asp-controller="ToDoItems" method="post">
            <div class="input-group">
                <input class="form-control" type="search" name="searchString"
                       placeholder="Search Term" />
                <input type="submit" class="btn btn-outline-primary" value="Search" />
            </div>
        </form>
        <form asp-action="Index" asp-controller="Contacts" method="post">
            <div class="mt-5">
                <label class="form-label fw-bold">CATEGORY FILTER</label>
                <select name="accessoryId" asp-items="@ViewBag.AccessoryList" class="form-control"
                        onchange="this.form.submit()" onfocus="this.selectedIndex=-1;this.blur();">
                    <option>All Contacts</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-8">
        <div class="row row-cols-1 g-3">
            @foreach (var toDoItem in Model)
            {
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => toDoItem.AppUser!.FullName)</h5>
                                    <div class="card-text">
                                        @Html.DisplayFor(modelItem => toDoItem.Name)<br>
                                        @Html.DisplayFor(modelItem => toDoItem.DueDate)<br>
                                        @Html.DisplayFor(modelItem => toDoItem.Completed)
                                    </div>
                                    <div class="card-text">
                                        @*<span class="fw-bold me-2">Phone:</span>@Html.DisplayFor(modelItem => toDoItem.PhoneNumber)*@
                                    </div>
                                    <div class="card-text">
                                        @*<span class="fw-bold me-2">Email:</span>@Html.DisplayFor(modelItem => toDoItem.Email)*@
                                    </div>
                                    <div class="fs-4">
                                        <a class="me-3 editIcons" asp-action="Edit" asp-route-id="@toDoItem.Id"><i class="bi bi-pencil-fill "></i></a>
                                        <a class="me-3 editIcons" asp-action="EmailContact" asp-route-id="@toDoItem.Id"><i class="bi bi-envelope-fill "></i></a>
                                        <a class="me-3 editIcons" asp-action="Delete" asp-route-id="@toDoItem.Id"><i class="bi bi-trash-fill text-danger "></i></a>
                                    </div>
                                    <div>
                                        @foreach (Accessory accessory in toDoItem.Accessories)
                                        {
                                            <span class="badge rounded-pill border border-1 text-dark fw-normal">@accessory.Name</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
